.page {
  margin: 0 2em;
}
.page li {
  padding: 5px;
}
.landing {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}
.border,
.landing img {
  border: 2px solid #e6edf3;
  padding: 10px;
}
.title {
  display: flex;
  flex-direction: column;
}
.aboutContainer {
  display: flex;
}
.half {
  width: 50vw;
}
.containerTitle {
  font-size: 30px;
  padding-bottom: 1em;
}
.containerTitle,
.educationTitle,
.educationSubtitle,
.experienceTitle,
.experienceSubtitle,
.skillSubtitle {
  font-weight: 600;
}

.textSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
.textSection ul {
  margin: 0;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.imageContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.satImage {
  flex-direction: column;
}
.imageContainer a {
  color: inherit;
  font-size: 11px;
  width: fit-content;
}
.imageSquare {
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  flex-direction: column;
}
.image div {
  margin-top: 10px;
  height: 2px;
  width: 200px;
  background-color: #e6edf3;
}
.image div:nth-child(3) {
  width: 100px;
}
.image div:nth-child(4) {
  width: 50px;
}
.skills,
.contact {
  display: flex;
  flex-direction: column;
}
.skillContainer {
  padding: 10px;
}
.skillCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #e6edf3 2px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.skill span {
  padding-top: 5px;
}
.education,
.experience {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}
.education div,
.experience div {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-bottom: 2em;
}
.education span,
.experience span {
  padding: 7px 0;
  width: fit-content;
}
.date {
  font-style: italic;
}
.educationTitle,
.experienceTitle,
.contactContainer a,
.blue {
  color: #62b9b9;
}
.note {
  color: #e6edf3;
}

/* handle different width */
@media (max-width: 500px){
  .landing {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .half {
    width: 100%;
  }
  .image img {
    width: 250px;
    height: 250px;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .imageContainer {
    width: auto;
    flex-direction: column;
  }
  .imageContainer div {
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
  }
  .imageContainer img {
    width: 100%;
  }
}