.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.span-2 {
    color: #908298;
}
.link-container1 {
    height: 15px;
    background-color: #fff;
}
.link-container2 {
    height: 15px;
    background-color: #fff;
}