.landing-container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0px 0px 0px 40px;
}
.sidebar {
    position: absolute;
    right: 40px;
}
.sidebar ul {
    list-style: none;
}
.sidebar a {
    font-size: 1.5rem;
    color: #fff;
}
.sidebar a:hover {
    color: #908298;
    transition: all 0.2s ease;
}
.landing-nav-container {
    position: absolute;
    bottom: 40px;
}
.landing-text {
    font-size: 3em;
}
.span-2 {
    color: #908298;
}
.landing-btn {
    display: flex;
    align-items: center;
    height: 50px;
    width: 350px;
    background-color: #908298;
    text-decoration: none;
}
.landing-btn-text {
    font-size: 1.5em;
    padding-left: 10px;
    color: #fff;
}
@media (max-width: 768px) {
    .landing-container {
        padding: 0px 10px 0px 10px;
    }
    .landing-btn {
        width: 300px;
    }
    .sidebar {
        position: absolute;
        right: 10px;
    }
}