.landing-container {
    display: flex;
    height: 100vh;
    padding: 0px 40px 0px 40px;
}
.landing-nav-container {
    position: absolute;
    bottom: 40px;
}
.landing-text {
    font-size: 3em;
}
.span-2 {
    color: #908298;
}
.landing-button {
    height: 50px;
    width: 350px;
    background-color: #908298;
}