.navbar-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0px 10px 0px 10px;
    height: 3rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar a {
    color: #fff;
}
.navbar-left a {
    font-weight: 700;
}
.navbar-right {
    font-weight: 300;
    float: right;
}