.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notfound-header {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}